*,
*::after,
*::before {
    padding:0;
    margin:0;
}

html {
    background-color: #A3C4BC;
    scroll-behavior: smooth;
    font-family: 'Glory', sans-serif;
}

a {
    color: #160F29;
}

h1 {
    font-size: 45px;
    font-weight: bold;
}

p {
    font-size: 25px;
    font-weight: 500;
}

h1,
p,
.title {
    color:#E7EFC5;
}

.title {
    text-align: center;
    padding: 50px;
    padding-top: 40px;
    text-shadow: 2px 2px #246a73; 
}

/* Navigation bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #E7EFC5;
}


.logo {
    height: 50px;
    margin-left: 30px;
    border-radius: 50%;
}

.logo:hover {
    transform: rotate(360deg);
    transition: all 2.0s;
}

.navbar-links{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-left: auto;
    margin-right:15px;
    flex-wrap: wrap;
}

.navbar-links a,
#home{
    text-decoration: none;
    display: flex;
    font-size: 25px;
    padding: 20px;
    color:#160F29;
}


.navbar-links a:hover,
#home:hover {
    background-color: #246a73;
    color: #E7EFC5;
    cursor: pointer;
}

/* Title Section */
.title-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #246a73;
}

.textbox {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
}

.textbox h1{
    letter-spacing: 3px;
}

.textbox p{
    font-weight: bolder;
}

.main-button {
    border: solid 3px #A3C4BC;
    border-radius: 5px;
    background-color: #E7EFC5;
    color: #246a73;
    font-weight: 500;
    font-size: 20px;
    padding: 4px 24px;
    align-self: center;
}

.main-button:hover {
    color:#160F29;
}

.main-img {
    flex: 1 1 auto;
    max-width: 300px;
}

/* Skill Section */

.skill-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0px 24px 50px 24px;
    gap: 5px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap:8px;
    padding: 24px;
    color: #160F29;
}

.skill-icon {
    width: 210px;
    height: 260px;
    border: 5px solid #E7EFC5;
    background-color: #E7EFC5;
    border-radius: 32px;
    box-shadow: 2px 1px #246a73;
}

.skill-icon:hover {
    box-shadow: 0 0 20px #246a73;
}

.skill h2 {
    font-size: 35px;
    color:#160F29
}
